.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.bandanaCarouselSection {
  border: 0.1px solid gray;
  margin-left: 2px;
  margin-right: 2px;
}

.customerSelection {
  margin-left: 500px;
  margin-right: -250px;
}
.bandanaItem {
  margin-left: -215px;
}

.chooseBandana {
  font-size: 7px;
  margin-left: 5px;
  margin-right: 350px;
}

.choicelist {
  font-size: 6px;
  margin-right: 655px;
  margin-bottom: 15px;
}

.bandanaButtonsDiv {
  font-size: 7px;
  margin-right: 505px;
}

.price {
  font-size: 9px;
  margin-right: 122px;
  margin-bottom: -20px;
}

.integer {
  font-size: 11px;
  font-weight: bold;
  margin-right: 30px;
}

.buy {
  background-color: #0053a0;
  color: white;
  border: 1px solid #0053a0;
  font-weight: bold;
  font-family: Skin-market-sans;
  margin-bottom: 5px;
  margin-left: 25px;
  border-radius: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 8px;
}

.buy:hover {
  background-color: #1958bd;
  color: white;
  cursor: pointer;
  border: 1px solid #1958bd;
  font-weight: bold;
  font-family: Skin-market-sans;
  margin-bottom: 5px;
  border-radius: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 8px;
}

.cart {
  background-color: #3498ca;
  color: white;
  border: 1px solid #3498ca;
  font-weight: bold;
  font-family: Skin-market-sans;
  margin-bottom: 5px;
  margin-left: 25px;
  border-radius: 20px;
  padding-right: 41px;
  padding-left: 41px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 8px;
}

.cart:hover {
  background-color: #1958bd;
  color: white;
  cursor: pointer;
  border: 1px solid #1958bd;
  font-weight: bold;
  font-family: Skin-market-sans;
  margin-bottom: 5px;
  border-radius: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 8px;
}

.wishlist {
  background-color: white;
  color: #3665f3;
  border: 1px solid #3665f3;
  font-weight: bold;
  font-family: Skin-market-sans;
  margin-bottom: 5px;
  margin-left: 25px;
  border-radius: 20px;
  padding-right: 26px;
  padding-left: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 8px;
}

.wishlist:hover {
  background-color: white;
  color: #2b0eaf;
  border: 1px solid #2b0eaf;
  cursor: pointer;
  font-weight: bold;
  font-family: Skin-market-sans;
  margin-bottom: 5px;
  border-radius: 20px;
  padding-right: 26px;
  padding-left: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 8px;
}

.FreeShipping {
  border: 1px solid gray;
  color: red;
  margin-left: 100px;
  margin-right: 300px;
}

.sold {
  border: 1px solid gray;
  color: gray;
  margin-left: 150px;
  margin-right: 100px;
}

.USshipping {
  border: 1px solid gray;
  color: gray;
  margin-left: 100px;
  margin-right: 300px;
}
